<!doctype html>

<head>
  <link rel="stylesheet" href="../static/css/main.css">
</head>

{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

<title>Photoshare</title>

<h3>Here are today's Top 3 users:</h3>
<ul>
  {% for user in users %}
      <li>{{user[0]}} {{user[1]}} {{user[4]}} <a href='/user/{{user[0]}}'>{{user[2]}} {{user[3]}}</a></li>
  {% endfor %}
  </ul>


<h3>Here are today's Top 3 tags:</h3>
<ul>
  {% for tag in tags %}
      <li><a href='/tag/{{tag[0]}}'>{{tag[1]}}</a></li>
  {% endfor %}
  </ul>



<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/register'>Register</a></li>
<li><a href='/test'>Test</a></li>
<li><a href='/search'>Search</a></li>
<li><a href='/'>Home</a></li>
</ul>
